.catalog {
	margin-bottom: 100px;
	&__title {
		font-weight: bold;
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 26px;
	}
	&__inner {
		display: flex;
		&-aside {
			min-width: 290px;
			margin-right: 10px;
		}
		&-list {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			.products-item__wrapper {
				margin-bottom: 30px;
			}
		}
	}
	&__filter {
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
		&-items {
			button {
				font-size: 14px;
				line-height: 17px;
				opacity: 0.7;
				background: #F0F0F4;
				border-radius: 3px;
				border: none;
				padding: 5px 22px;
				cursor: pointer;
				& + button {
					margin-left: 8px;
					cursor: pointer;
				}
			}
		}
		&-btn {
			button {
			background-color: transparent;
			border: none;
			cursor: pointer;
			margin: 0;
			padding: 0;
			& + button {
				margin-left: 10px;
			}
			}
		}
		&-btngrid {

		}
		&-btnline {

		}
	}
}
.products-item__img {
	max-width: 100%;
}
.aside-filter {
	&__tabs {
		display: flex;
		justify-content: space-between;
	}
	&__tab {
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.09em;
		text-transform: uppercase;
		color: #C4C4C4;
		width: 50%;
		&.tab--active {
			font-weight: 700;
			color: #2F3035;
			span {
				display: inline-block;
				border-bottom: 2px solid #1C62CD;
				padding-bottom: 7px;
			}
		}
	}
	&__item {
		&-drop {
			margin: 40px 0;
		}
		&-title {
			font-weight: 600;
			font-size: 16px;
			line-height: 19px;
			padding-left: 26px;
		}
	}
	&__content {
		display: flex;
		flex-wrap: wrap;
		margin-top: 20px;
		&-box {
			width: 50%;
		}
		&-label {
			font-size: 14px;
			cursor: pointer;
			line-height: 17px;
		}
	}
}

.filter__item-drop {
	position: relative;
	cursor: pointer;
	&::before {
		content: "";
		background-image: url('../images/dest/arrow.svg');
		position: absolute;
		left: 0;
		bottom: 5px;
		width: 12px;
		height: 8px;
		transform: rotate(0deg);
	}
	&--active::before {
		transform: rotate(180deg);
	}
}
.jq-checkbox,
.jq-radio {
	background: #fff;
	width: 14px;
	height: 14px;
	border: 1px solid #C4C4C4;
	border-radius: 1px;
	box-shadow: none;
	vertical-align: -1px;
	margin: 0 8px 0 0;
	&.checked {
		background: #1C62CD;
		border: none;
	}
}
.jq-checkbox.checked .jq-checkbox__div {
	width: 8px;
  height: 6px;
  margin: 3px 0 0 3px;
  border-bottom: none;
  border-left: none;
  transform: rotate(0);
  background-image: url('../images/dest/checked-icon.svg');
}
.jq-radio.checked .jq-radio__div {
	width: 10px;
	height: 0px;
	margin: 0;
	border-radius: 0;
	background: transparent;
	box-shadow: none;
}
.aside-filter__content.aside-filter__content-radio {
	flex-wrap: nowrap;
}
.irs--flat {
	width: 100%;
	margin-top: -15px;
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
	display: none;
}

.irs--flat .irs-max, .irs--flat .irs-min {
	top: 55px;
  padding: 0;
  line-height: 17px;
 	text-decoration: underline;
 	font-size: 14px;
 	color: #2F3035;
 	font-family: 'Barlow' sans-serif;
 	text-shadow: none;
 	background-color: transparent;
 	border-radius: 0;
 	visibility: visible!important;
 	padding-left: 27px;
}
.irs-min::before,
.irs-max::before {
	position: absolute;
	left: 0;
	line-height: 17px;
	font-size: 14px;
	text-decoration: none;
	color: #C4C4C4;
	
}
.irs-min::before {
	content: "от";
}
.irs-max::before {
	content: "до";
}
.irs--flat .irs-line {
	top: 25px;
	height: 1px;
	background-color: #E0E0E0;
	border-radius: 0;
}
.irs--flat .irs-bar {
	top: 23px;
	height: 3px;
	border: 3px solid #1C62CD;
}
.irs--flat .irs-handle {
  top: 22px;
  width: 8px;
  height: 8px;
  background-color: #1C62CD;
  border-radius: 50%;
}
.irs--flat .irs-handle>i:first-child {
	background-color: transparent;
}
.irs--flat .irs-handle.state_hover>i:first-child, .irs--flat .irs-handle:hover>i:first-child {
    background-color: transparent;
}



