.footer {
	background-color: #F0F0F4;
	&__bottom {
		padding: 46px 0 22px;
		display: flex;
		justify-content: center;
		&-link {
			line-height: 12px;
			color: #48494D;
			font-size: 10px;
			margin: 0 40px;
		}
	}
	&__top {
		padding-top: 43px;
		&-newslatter.footer__top-item {
			width: 295px;
			margin-right: 50px;
		}
		&-title {
			font-weight: bold;
			font-size: 14px;
			line-height: 17px;
		}
		&-inner {
			display: flex;
			justify-content: space-between;
		}
		&-item {
			width: 200px;
		}
		&-social.footer__top-item {
			width: 250px;  
		}
	}
	&-list {
		font-size: 14px;
		line-height: 22px;
	}
	&-form {
		margin-top: 34px;
		display: flex;
		justify-content: space-between;
		&__input {
			background-color: #fff;
			border: none;
			font-size: 14px;
			line-height: 17px;
			padding: 0 12px;
			&::placeholder {
				color: #C4C4C4;
			}
		}
		&__btn {
			text-transform: uppercase;
			padding: 10px 16px;
			border: none;
			background-color: #1C62CD;
			color: #fff;
			font-weight: 600;			
			font-size: 11px;
			line-height: 13px;
			letter-spacing: 0.12em;
		}
	}
}
.social-list {
	display: flex;
	align-items: center;
	width: 100%; 
	&__item + .social-list__item {
		margin-left: 30px;
	}
}
.footer__topdrop {
	pointer-events: none;
}