.products {
	&__title {
		font-family: 'Barlow', sans-serif;
		font-weight: bold;
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 25px;
	}
	&__tab + .products__tab {
		margin-left: 50px;
	}
	&__tab {
		padding-bottom: 10px;
	}
	.tab--active {
		border-bottom: 2px solid #1C62CD;
	}
	&__tabs {
		margin-bottom: 25px;
	}
	&-item__wrapper {
		position: relative;
		width: 271px;
	}
	&-item {
		min-height: 400px;
		border: 1px solid #CDCDCD;
		border-radius: 3px;
		text-align: center;
		padding: 52px 20px 31px;
		transition: all .3s;
		&:hover {
			box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
			color: #1C62CD;
		}
		&:hover {
			.products-item__hover-text {
				opacity: 1;
				color: #2F3035;
			}
		}
		&:hover {
			.products-item__notify-text {
				color: #2F3035;
			}
		}
		&--sale::before {
			content: 'SALE';
			padding: 8px 15px;
			background-color: #1C62CD;
			position: absolute;
			left: 0;
			top: 0;
			text-transform: uppercase;
			color: #fff;
			font-size: 12px;
			line-height: 14px;
			letter-spacing: 0.07em;
		}
		&__hover-text {
			padding: 18px 21px;
			background-color: rgba(255,255,255,.9);
			box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
			border-radius: 3px;
			display: inline-block;
			position: absolute;
			top: 30%;
			opacity: 0;
			transition: all .3s;
		}
		&__title {
			font-weight: normal;
			padding: 14px 0 25px;
		}
		&__favorite {
			position: absolute;
			top: 16px;
			right: 16px;
			width: 24px;
			height: 22px;
			background-color: transparent;
			border: none;
			outline: none;
			z-index: 5;
			&::before {
				content: "";
				position: absolute;
				width: 24px;
				height: 22px;
				top: 0;
				left: 0;
				background-image: url('../images/dest/favorite.svg');
			}
			&--active {
				background-image: url('../images/dest/favorite-active.svg');
			}
		}
		&__basket {
			position: absolute;
			width: 60px;
			height: 40px;
			background-color: #1C62CD;
			border-radius: 10px 0px 0px 0px;
			border: none;
			bottom: 0;
			right: 0;
			padding-top: 7px;
			cursor: pointer;
			z-index: 10;
		}
		&__price {
			font-weight: bold;
			font-size: 30px;
			line-height: 36px;
		}
		&__notify-text {
			display: none;
			font-size: 18px;
			line-height: 21px;
			font-weight: 700;
		}
		&__notify-link {
			display: none; 
		}
		&__not-available {
			.products-item__price {
				display: none;
			}
			.products-item__basket {
				display: none;
			}
			.products-item__title {
				padding-bottom: 13px;
			}
			.products-item__notify-text {
				display: block;
			}
			.products-item__notify-link {
				display: block;
				position: absolute;
				bottom: 20px;
				left: 0;
				right: 0;
				font-size: 16px;
				line-height: 19px;
				color: #1c62CD;
				text-align: center;
				span {
					border-radius: 1px solid #1c62CD;
				}
			}
		}
	}
	&__more {
		text-align: center;
		margin: 35px 0 80px;
		&-link {
			font-size: 15px;
			line-height: 18px;
			letter-spacing: 0.12em;
			text-transform: uppercase;
			background: #F0F0F4;
			padding: 16px 43px;
		}
	}
}

.products-slider__slider-btnprev {
 	left: -40px;
}
.products-slider__slider-btnnext {
	right: -30px;
}
.slick-slide {
	img {
		display: inline;
	}
}